<h2>{{org.name}} -- {{org.orgType | initcap }}</h2>
<hr/>
<div helo-msg></div>

<div class="row">
  <div class="large-12 columns">
    <div class="right">
      <button class="tiny button" ng-class="getShow('view')" ng-click="setSelected('view');">View</button>
      <button class="tiny button" ng-class="getShow('edit')" ng-click="setSelected('edit');">Edit</button>
    </div>
  </div>
</div>

<div ng-show="getShow('view')">
  <div class="row">
    <div class="columns large-3">
      <div id="map-canvas" ui-map="myMap" ui-options="mapOptions" class="map">hello</div>
    </div>
    <div class="columns large-9">
      <div class="row">
        <div class="columns large-12">
          <span class="address"> <h6>Address:</h6> {{org.street}} {{org.city}}, {{org.state}} {{org.zip}}</span>
        </div>
      </div>
      <div class="row">
        <div class="columns large-3">
          <h6>Parent</h6>
          <div><a ng-href="/#/orgs/{{org.parent}}">{{org.parentName}}</a></div>
          <h6>Activity</h6>
          <div>{{org.updated | date:'short'}} last update </div>
          <div>{{org.created | date:'short'}} created at</div>
          <h5 ui-jq="sparkline" ui-options="data,{type: 'bar'}"></h5>
          <h5 ui-jq="sparkline" ui-options="data,{type: 'line'}"></h5>
        </div>
        <div class="columns large-3">
            <h6>CChannels</h6>
            <div ng-repeat="cchan in org.cchannels">
              <a ng-href="#/cchannels/{{cchan.id}}">{{cchan.name}}</a>
            </div>
        </div>
        <div class="columns large-3">
            <h6>Children</h6>
        </div>
        <div class="columns large-3">
          <h6>Something</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="columns large-6" helo-notes></div>
    <div class="columns large-3">
      <h6>Referrals</h6>
      <div ng-repeat="refer in org.referrals">
          hello
      </div>
    </div>
    <div class="columns large-3">
      <h6>Jobs</h6>
      <div ng-repeat="job in org.jobs">
        hello
      </div>
    </div>
  </div>
</div>

<div ng-show="getShow('edit')">
edit
</div>
 
