<h2>{{person.name}} -- {{person.personType | initcap}}</h2>
<hr/>
<div class="alert-box" ng-class="messageType" ng-show="messageType">
  {{message}}
  <a ng-click="resetMessage()" class="close">&times;</a>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="right">
      <button class="tiny button" ng-class="getShow('view')" ng-click="setSelected('view');">View</button>
      <button class="tiny button" ng-class="getShow('edit')" ng-click="setSelected('edit');">Edit</button>
    </div>
  </div>
</div>

<div ng-show="getShow('view')">
  <div class="row">
    <div class="columns small-3">
      <div id="map-canvas" ui-map="myMap" ui-options="mapOptions" class="map">hello</div>
    </div>
    <div class="columns small-3">
      <h6 ng-show="person.parent">Parent</h6>
      <div ng-show="person.parent"><a ng-href="/#/orgs/{{person.parent}}">{{person.parentName}}</a></div>
      <h6>Address</h6>
      <div>{{person.firstName}} {{person.lastName}}</div>
      <div>{{person.street}}</div>
      <div ng-show="person.state">{{person.city}}, {{person.state}} {{person.zip}}</div>
    </div>
 
    <div class="columns small-3">
      <h6>Activity</h6>
      <div>{{person.updated | date:'short'}} last update </div>
      <div>{{person.created | date:'short'}} created at</div>
      <h5 ui-jq="sparkline" ui-options="data,{type: 'bar'}"></h5>
      <h5 ui-jq="sparkline" ui-options="data,{type: 'line'}"></h5>
    </div>

    <div class="columns small-3">
      <h6>CChannels</h6>
      <div ng-repeat="cchan in person.cchannels">
        <a ng-href="#/cchannels/{{cchan.id}}">{{cchan.name}}</a>
      </div>
    </div>
 </div>
  <div class="row"> 
    <div class="columns large-6" helo-notes> </div>
    <div class="columns small-3">
      <h6>Referrals</h6>
      <div ng-repeat="refer in person.referrals">
          hello
      </div>
    </div>
    <div class="columns small-3">
      <h6>Jobs</h6>
      <div ng-repeat="job in person.jobs">
        hello
      </div>
    </div>
  </div>
</div>

<div ng-show="getShow('edit')">
edit
</div>

 
