<h2>{{person.name}} -- {{person.personType | initcap}}</h2>
<hr/>
<div class="alert-box" ng-class="messageType" ng-show="messageType">
  {{message}}
  <a ng-click="resetMessage()" class="close">&times;</a>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="right">
      <button class="tiny button" ng-class="getShow('view')" ng-click="setSelected('view');">View</button>
      <button class="tiny button" ng-class="getShow('edit')" ng-click="setSelected('edit');">Edit</button>
    </div>
  </div>
</div>

<div ng-show="getShowNote()">
  <div class="row">
    <div class="small-12 columns">
      Hello note
 
    </div>
  </div>
</div>

<div ng-show="getShow('view')">
  <div class="row">
    <div class="columns small-3">
      <div id="map-canvas" ui-map="myMap" ui-options="mapOptions" class="map">hello</div>
    </div>
    <div class="columns small-3">
      <h6>Address</h6>
      <div>{{person.firstName}} {{person.lastName}}</div>
      <div>{{person.street}}</div>
      <div>{{person.city}}, {{person.state}} {{person.zip}}</div>
    </div>
 
    <div class="columns small-3">
      <h6>Activity</h6>
      <div>{{person.updated | date:'short'}} last update </div>
      <div>{{person.created | date:'short'}} created at</div>
      <h5 ui-jq="sparkline" ui-options="data,{type: 'bar'}"></h5>
      <h5 ui-jq="sparkline" ui-options="data,{type: 'line'}"></h5>
    </div>

    <div class="columns small-3">
      <h6>CChannels</h6>
      <div ng-repeat="cchan in person.cchannels">
        <a ng-href="#/cchannels/{{cchan.id}}">{{cchan.name}}</a>
      </div>
    </div>
 </div>
  <div class="row"> 
    <div class="columns small-6" ng-controller="NotesCtrl">
      <h6>Notes</h6>
      <form>
        <textarea ng-model="note"></textarea>
        <button class="small" ng-click="addNote()">Add Note</button>
      </form>
      <div ng-repeat="note in notes" >
        <div>{{note.updated | date: 'medium'}} by <a ng-href="#/persons/{{note.byId}}">{{note.byName}}</a> </div>
        <div class="panel">{{note.note}}</div>
      </div>
      <div ng-show="more()"><button ng-click="appendMore()">Show More...</button></div>
    </div>
    <div class="columns small-3">
      <h6>Referrals</h6>
      <div ng-repeat="refer in person.referrals">
          hello
      </div>
    </div>
    <div class="columns small-3">
      <h6>Jobs</h6>
      <div ng-repeat="job in person.jobs">
        hello
      </div>
    </div>
  </div>
</div>

<div ng-show="getShow('edit')">
edit
</div>
 
