<h3>{{properties.subType}} Referral -- {{properties.name}}</h3>
<hr/>
<div helo-msg></div>

<div class="row">
  <div class="columns large-4">
    <h6><small>referr</small>ER</h6>
    <div ng-show="er"><a ng-href="/#{{er.href}}">{{er.properties.name}}<span ng-show="er.properties.subType"> -- {{er.properties.subType}}</span></a></div>
    <div ng-show="erCChan"><a ng-href="/#{{erCChan.href}}">{{erCChan.properties.name}}</a></div>
  </div>
  <div class="columns large-4">
    <h6><small>referr</small>EE</h6>
    <div ng-show="ee"><a ng-href="/#{{ee.href}}">{{ee.properties.name}}<span ng-show="ee.properties.subType"> -- {{ee.properties.subType}}</span></a></div>
    <div ng-show="eeCChan"><a ng-href="/#{{eeCChan.href}}">{{eeCChan.properties.name}}</a></div>
  </div>
  <div class="columns large-4">
    <h6>Details</h6>
    <div><small>Status:</small> {{properties.subType}}</div>
    <div><small>Create:</small> {{properties.created | date: 'medium'}}</div>
    <div><small>Update:</small> {{properties.updated | date: 'medium'}}</div>
  </div>
</div>

<div class="row">
  <div class="columns large-6" helo-notes></div>
  <div class="columns large-6">

  </div>
</div>
